@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
@font-face {
  font-family: "Hanson";
  src: url("fonts/MonumentExtended-Ultrabold.woff2") format("woff2"),
    url("fonts/MonumentExtended-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@tailwind base;

@tailwind components;

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(224, 224, 224, 0.4);
  border-radius: 20px;
  border: 1px solid transparent;
}

body {
  font-size: 16px;
}
.leading-1\/2 {
  line-height: 0.5;
}

.stroke-line {
  -webkit-text-stroke: 2px #e1f1ff;
  color: transparent;
}
.stroke-line-thin {
  -webkit-text-stroke: 1px #e1f1ff;
  color: transparent;
}

.title-agency {
  font-size: 12vw;
  @apply absolute top-1/12 left-0 right-0 text-center font-typeface leading-1/2 mx-auto;
}

.title-agency .span-agency {
  margin-top: -1rem;
}

@media (min-width: 992px) {
  .title-agency {
    font-size: 15vw;
  }
  .title-agency .span-agency {
    margin-top: -6rem;
  }
}

.title-agency span {
  line-height: 0;
}

.nav-links .nav-item {
  @apply opacity-0 absolute transform -translate-x-88 top-1/5 left-1/2 text-5xl uppercase;
}

.nav-links .nav-item:nth-child(2) {
  top: calc(20% + 5rem);
}
.nav-links .nav-item:nth-child(3) {
  top: calc(20% + 10rem);
}
.nav-links .nav-item:nth-child(4) {
  top: calc(20% + 15rem);
}

.nav-links .nav-item span {
  @apply absolute top-0 left-0 transform -translate-y-1 -translate-x-3 font-thin text-xl opacity-75;
}
.nav-links > * {
  @apply z-n1;
}

@media (min-width: 768px) {
  body {
    @apply bg-white;
  }
  .nav-links .nav-item {
    @apply opacity-100 relative top-0 left-0 translate-x-0 text-xl lowercase;
  }
  .nav-links .nav-item span {
    @apply text-sm opacity-50;
  }
  .nav-links > * {
    @apply z-0;
  }
}

.tea {
  --secondary: #33406f;
}

.tea #teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}

.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}

.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}

@-moz-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@-webkit-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@-o-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@-moz-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-o-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-moz-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@-o-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

.debug {
  border: 1px solid green;
}

@tailwind utilities;
